.cards {
  margin-top: 2em;
  /* text-align: center; */
  /* border: 1px solid #ddd */
}
.cardNINU, .cardNIU, .cardNUI, .cardUI {
  padding: 0 3em 2em 3em
}
.cardUI {
  border: 2px solid #c0392b;
  margin-right: .5em;
  margin-bottom: .5em;
}
.cardNUI {
  border: 2px solid #f1c40f;
  margin-bottom: .5em;
}
.cardNIU {
  border: 2px solid #f39c12;
  margin-right: .5em;
  margin-bottom: .5em;
}
.cardNINU {
  border: 2px solid #27ae60;
  margin-bottom: .5em;
}